*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

.headpage {
    background-color: white;
    padding: 15px;
}


.logo {
    vertical-align: middle;
}

.titlehead {
    display: inline-block;
    vertical-align: middle;
}

.container {
    max-width: 800px;
    background-color: white;
    margin: 45px auto;
    margin-bottom: 3px;
    padding: 18px 55px 18px 55px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-bottom:#c4cbd0;
}

.container2 {
    border-top: #14aaf5;
    margin-top: 2px;
    border-radius: 0;
    
}


.button {
    padding: 7px 14px ;
    border-radius: 7px;
    border: 1;
    display: inline-block;
    background-color: transparent;

}

.blu-button {
    background-color: #14aaf5;
    border-color: #14aaf5;
    color: #ffffff;

}

.grey-button {
    border-color: #c4cbd0;
    color: #c4cbd0;
}



.first-ti {
    display: inline-block;
    vertical-align: middle;

}


/* .circle {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    
    text-align: center;
    line-height: 18px;
    
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
} */

.circle {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    text-align: center;
    line-height: 18px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #89D0BF;
    color: #89D0BF;
}

/* .green-circle {

} */


.circle2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #F6C2C0;
    text-align: center;
    line-height: 18px;
    color: #F6C2C0;
    display: inline-block;
    font-size: 10px;

}




.tag_task {
    display: inline-block;
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 14px;
}

.lightblue-tag{
    background-color: #14aaf5;
    color: white;
}

.violet-tag {
    background-color: #ab5de6;
    color: white;
}

.green-tag {
    background-color: #2cc6ab;
    color: white;
}

.orange-tag {
    background-color: #ff9b00;
    color: white;
}

.pink-tag {
    background-color: #ec4a9d;
    color: white;
}

.lime-tag {
    background-color: #a3d116;
    color: white;
}


.newtask {
    display: inline-block;
    margin: 0px 5px 0px 5px;
    border: none;
}

.list-newtask {
    list-style: none;
    margin-top: 5px;
}

.list-todaytask {
    list-style: none;
    margin-top: 17px;
}

.list-incomingtask {
    list-style: none;
    margin-top: 17px;
}


.theadtask {
    display: inline-block;
    margin-top: 18px;
    
}

.down-arrow {    
    border-left: 7px solid transparent; 
    border-right:7px solid transparent; 
    border-top: 7px solid rgb(0, 0, 0); 
    display: inline-block;
    vertical-align: middle;
} 